<div *ngIf="show">
  <div *ngFor="let product of getProducts()" class="product-parent">
    <div class="product-name">
      <div class="truncate">
        {{product.name}}
        <div *ngIf="product.extraInfo" class="product-name-part truncate product-extra-info">
          ({{product.extraInfo}})
        </div>
      </div>
      <div class="product-price">
        {{getProductAmount(product) + ' x &#8364; ' + product.price}}
      </div>
    </div>
    <div class="product-total-price">&#8364; {{getProductAmount(product)*product.price}}</div>
  </div>
  <md-chip-list *ngIf="showTotal" class="mat-chip-list-stacked price-total">
    <md-chip class="total-text">Total: &#8364; {{getTotalAmount()}}</md-chip>
  </md-chip-list>
</div>
