:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.centered-title {
  width: 100%;
}

.btn-half-screen {
  width: 50%;
}

.padded-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padded-row-xl {
  padding-top: 30px;
}

.images > .spot {
  padding: 5px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-bottom: 5px;
}

.images > .spot > .image-banner {
  width: 100%;
  position: relative;
  height: 80px;
  overflow: hidden;
  background: no-repeat left center;
  background-size: cover;
  cursor: pointer;
}

.images > .spot > .image-banner > img {
  width: 100%;
}

.images > .spot > .image-banner > .image-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images > .spot > .image-banner > .image-overlay > h2 {
  background-color: rgba(125, 125, 125, 0.50);
  color: rgba(255, 255, 255, 0.87);
  color: white;
  margin: 0;
}

.sebm-google-map-container {
  height: 300px;
}

.btn-block {
  display: block;
  width: 100%;
}

.map-parent {
  position: relative;
}

.map-overlay-box {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 3px 3px 0;
  pointer-events: none;
}

md-chip {
  opacity: 0.75;
}

.image-banner {
  height: 80px;
  overflow: hidden;
  background: no-repeat left center;
  background-size: cover;
}

.spot-card {
  margin-bottom: 40px;
}

.at-beach-card {
  border: solid #0074D9;
}

.unpadded-card {
  padding-bottom: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.hover-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

md-card-header {
  margin-bottom: 0;
}

.spot-header {
  position: relative;
}

.collapse-icon {
  position: absolute;
  right: 0;
  font-weight: bold;
}

.arrow-right-bottom {
  position: fixed;
  bottom: 14px;
  right: 80px;
  margin: 10px;
}

.arrow-right {
  position: relative;
  display: block;
  padding-left: 5px;
  height: 26px;
  background-color: rgba(184, 184, 184, 0.75);
  color: white;
  line-height: 26px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.arrow-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid rgba(184, 184, 184, 0.75);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

md-panel-title {
  color: white;
  text-shadow: 0 0 30px rgba(68, 68, 68, 1);
  font-size: 14pt;
  width: 100%;
}

.spot-title > * {
  padding-left: 4px;
  padding-right: 4px;
}

.spot-title > b {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spot-title > small {
  white-space: nowrap;
}

md-expansion-panel {
  margin-bottom: 16px !important;
}
