:host {
  padding: 0 16px;
  display: block;
}

.collapse-icon {
  font-weight: bold;
}

.text-grow {
  flex-grow: 1;
  margin-left: -16px;
}

.text-center {
  flex-grow: 1;
  text-align: center;
}

.last-item {
  margin-right: 8px;
}

.cart-entry {
  margin-bottom: 16px;
  margin-top: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}

md-card-title {
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
}
