<ss-product-list [shop]="true" class="product-list"> </ss-product-list>
<div class="store-bar primary-color">
  <div class="store-bar-left">
    <div [ngClass]="{'actions-opaque': productTotal < 1}" (click)="onClearCartClicked()">
      <md-icon class="delete-icon">delete</md-icon>
      <div>Clear cart</div>
    </div>
  </div>
  <div class="store-bar-middle">Total &#8364; {{productTotal}}</div>
  <div class="store-bar-right">
    <div [ngClass]="{'actions-opaque': productTotal < 1}" (click)="onNextClicked()">
      <div>Next</div>
      <md-icon class="next-icon">keyboard_arrow_right</md-icon>
    </div>
  </div>
</div>
