<div *ngIf="historyEmpty | async" class="empty-history-text">
  {{'ORDER-HISTORY.empty' | translate}}
</div>
<md-accordion>
  <md-expansion-panel *ngFor="let cart of (history|async)">
    <md-expansion-panel-header [id]="'order-history-cart-'+cart.id">
      <md-panel-title>
        <span [id]="'cart-history-order-date-'+cart.id">
          {{cart.orderDateTime | date: 'dd/MM/yyyy'}}
        </span>
        <span class="title-price">
          &euro;
          <span [id]="'cart-history-price-'+cart.id">{{cart.price}}</span>
        </span>
      </md-panel-title>
    </md-expansion-panel-header>
    <div class="order-detail-place" [id]="'cart-history-beachname-'+cart.id">
      {{getBeachName(cart.beachId)}}
    </div>
    <ss-cart [cart]="cart" [showTotal]="false"></ss-cart>
  </md-expansion-panel>
</md-accordion>
