<div class="create-account-parent">
  <form *ngIf="!created" (ngSubmit)="onSubmit()" #createAccountForm="ngForm">
    <div class="full-width field-container">
      <md-icon class="input-icon">email</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput [type]="'email'" placeholder="E-mail address" name="email" #email="ngModel"
               [(ngModel)]="createUser.email" required
               pattern="^[a-zA-Z0-9.!#$%&’*+=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>
        <md-error>Format: xxx@xxx.xxx</md-error>
      </md-input-container>
    </div>
    <div class="full-width field-container">
      <md-icon class="input-icon">phone_iphone</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput placeholder="Phone number" name="number" [(ngModel)]="createUser.phoneNumber"
               required validatePhoneNumber/>
        <md-error>Format example: 0496 123456</md-error>
      </md-input-container>
    </div>
    <div class="full-width field-container">
      <md-icon class="input-icon">security</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput [type]="'password'" placeholder="Password" name="password" [(ngModel)]="createUser.password"
               required minlength="6" validatePassword/>
        <md-error>more than 6, at most 32 characters, contains numbers, uppercase and lowercase letters</md-error>
      </md-input-container>
      <ng2-password-strength-bar class="strength-bar"
                                 [passwordToCheck]="createUser.password">
      </ng2-password-strength-bar>
    </div>
    <div class="full-width field-container">
      <md-icon class="input-icon">security</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput [type]="'password'" placeholder="Repeat password" name="password2"
               [(ngModel)]="passwordConfirmation"
               required minlength="6" pattern="{{createUser.password}}"/>
        <md-error>Your password doesn't match</md-error>
      </md-input-container>
    </div>
    <button md-raised-button color="accent" type="submit" [disabled]="!createAccountForm.form.valid">
      Create account
    </button>
  </form>
  <div *ngIf="created">
    <h3>Verification mail will be sent.</h3>
    <p>Please check your inbox and verify your account to log in.</p>
  </div>
</div>
