<div class="create-account-parent">
  <form *ngIf="!created">
    <md-input-container class="full-width" floatPlaceholder="always">
      <input mdInput placeholder="E-mail address" name="email"/>
    </md-input-container>
    <md-input-container class="full-width" floatPlaceholder="always">
      <input mdInput placeholder="Phone number" name="phoneNumber"/>
    </md-input-container>
    <md-input-container class="full-width" floatPlaceholder="always">
      <input mdInput placeholder="Password" name="password"/>
    </md-input-container>
    <button md-raised-button color="accent" (click)="createAccount()">
      Create account
    </button>
  </form>
  <div *ngIf="created">
    <h3>Verification mail sent.</h3>
    <p>Please check your inbox and verify your account to log in.</p>
  </div>
</div>
