:host {
}

.create-account-parent {
  text-align: center;
  margin: 10px;
}

.field-container {
  margin-bottom: 16px;
  display: flex;
}

.complete-form-width {
  flex-grow: 1;
  margin-left: 16px;
}

.input-icon {
  margin-top: 16px;
}

.strength-bar {
  position: fixed;
  right: 16px;
}
