:host {
}

#sidenav {
  height: 100%;
  width: 200px;
  cursor: context-menu;
}

.router-link-active {
  background-color: #e0e0e0;
}

.menu-item {
  outline: none;
}

.navbar-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
