:host {
}

.toolbar-title-fill-remaining-space {
  flex: 1 1 auto;
}

.btn-sidenav {
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-language {
  padding: 0;
  min-width: 17px;
  margin-left: 8px;
}

.action-parent {
  position: relative;
}

.btn-action {
  margin: 16px;
  cursor: pointer;
}

.cart-size {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2px;
  font-size: 16px;
}

.menu-icon {
  height: 30px;
  width: 30px;
  font-size: 30px;
}

.toolbar-decoration {
  position: relative;
  z-index: 9999999;
}

.message-bar {
  flex-shrink: 1;
  flex-basis: auto;
  padding: 5px;
}

.title-bar-logo {
  margin-left: -8px;
  margin-right: 4px;
}
