<div id="home">
    <div class="flex-container padded-row-xl text-center">
        <h3 class="centered-title">{{'HOME.lookForSupplyAtSpot'|translate}}</h3>
    </div>
    <div class="images">
        <div class="spot" *ngFor="let spot of spots" [id]="spot">
            <div class="image-banner" [ngStyle]="{'background-image': 'url(/assets/img/oostende.jpg)'}"
                 (click)="selectSpot(spot)">
                <div class="image-overlay">
                    <h2>{{spot | translate}}</h2>
                </div>
            </div>
            <div *ngIf="selectedSpot == spot">
                <div class="map-parent">
                    <ng2-map #someVar center="Oostende, Belgium" disableDefaultUI="true"></ng2-map>
                    <div *ngIf="overlayError" class="map-overlay-box">
                        <md-chip-list class="md-chip-list-stacked">
                            <md-chip
                                    [ngClass]="{'warn-color': overlayError.type === 'error', 'accent-color': overlayError.type === 'warning'}"
                                    class="overlay-chip"
                                    selected="true">
                                {{'map.errorCode.'+overlayError.code|translate}}
                            </md-chip>
                        </md-chip-list>
                    </div>
                </div>

                <button md-raised-button class="btn-block">{{'HOME.takeMyOrder'|translate}}</button>
            </div>
        </div>
    </div>
</div>
