<div class="create-account-parent">
  <form *ngIf="!isReset && verificationCode" (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
    <div class="full-width field-container">
      <md-icon class="input-icon">security</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput type="password" placeholder="{{'form.passwordNew.placeholder' | translate}}" name="password"
               [(ngModel)]="password"
               required minlength="6" validatePassword/>
        <md-error>{{'form.passwordNew.error' | translate}}</md-error>
      </md-input-container>
      <ng2-password-strength-bar class="strength-bar"
                                 [passwordToCheck]="password">
      </ng2-password-strength-bar>
    </div>
    <div class="full-width field-container">
      <md-icon class="input-icon">security</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput type="password" placeholder="{{'form.passwordRepeat.error' | translate}}" name="password2"
               [(ngModel)]="passwordConfirmation"
               required minlength="6" pattern="{{password}}"/>
        <md-error>{{'form.passwordRepeat.error' | translate}}</md-error>
      </md-input-container>
    </div>
    <button md-raised-button color="accent" type="submit" [disabled]="!resetPasswordForm.form.valid">
      {{'form.actions.resetPassword' | translate}}
    </button>
  </form>
  <div *ngIf="isReset && verificationCode">
    <p><b>{{'RESET-PASSWORD.passwordChangedText1' | translate}}</b></p>
    <p>{{'RESET-PASSWORD.passwordChangedText2' | translate}}</p>
    <p>{{'RESET-PASSWORD.passwordChangedText3' | translate}} {{timerCount}}</p>
  </div>
  <div *ngIf="errorMessage && !verificationCode">
    {{errorMessage}}
  </div>
</div>
