<div class="create-account-parent">
  <form *ngIf="!isReset && verificationCode" (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
    <div class="full-width field-container">
      <md-icon class="input-icon">security</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput type="password" placeholder="Password" name="password" [(ngModel)]="password"
               required minlength="6" validatePassword/>
        <md-error>more than 6, at most 32 characters, contains numbers, uppercase and lowercase letters</md-error>
      </md-input-container>
      <ng2-password-strength-bar class="strength-bar"
                                 [passwordToCheck]="password">
      </ng2-password-strength-bar>
    </div>
    <div class="full-width field-container">
      <md-icon class="input-icon">security</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput type="password" placeholder="Repeat password" name="password2"
               [(ngModel)]="passwordConfirmation"
               required minlength="6" pattern="{{password}}"/>
        <md-error>Your password doesn't match</md-error>
      </md-input-container>
    </div>
    <button md-raised-button color="accent" type="submit" [disabled]="!resetPasswordForm.form.valid">
      Reset password
    </button>
  </form>
  <div *ngIf="isReset && verificationCode">
    <p><b>Password successfully changed!</b></p>
    <p>You can now log in using your new password.</p>
    <p>Redirecting to homepage in {{timerCount}}</p>
  </div>
  <div *ngIf="errorMessage && !verificationCode">
    {{errorMessage}}
  </div>
</div>
