<div class="create-account-parent">
  <form *ngIf="!created" (ngSubmit)="onSubmit()" #createAccountForm="ngForm">
    <div class="full-width field-container">
      <md-icon class="input-icon">email</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput type="email" [placeholder]="'form.email.placeholder' | translate" name="email" #email="ngModel"
               [(ngModel)]="createUser.email" required
               pattern="^[a-zA-Z0-9.!#$%&’*+=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>
        <md-error>{{'form.email.error' | translate}}</md-error>
      </md-input-container>
    </div>
    <div class="full-width field-container">
      <md-icon class="input-icon">phone_iphone</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput type="tel" [placeholder]="'form.phone.placeholder' | translate" name="number" [(ngModel)]="createUser.phoneNumber"
               required validatePhoneNumber/>
        <md-error>{{'form.phone.error' | translate}}</md-error>
      </md-input-container>
    </div>
    <div class="full-width field-container">
      <md-icon class="input-icon">security</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput type="password" [placeholder]="'form.passwordCreate.placeholder' | translate" name="password" [(ngModel)]="createUser.password"
               required minlength="6" validatePassword/>
        <md-error>{{'form.passwordCreate.error' | translate}}</md-error>
      </md-input-container>
      <!--<ng2-password-strength-bar class="strength-bar"-->
                                 <!--[passwordToCheck]="createUser.password">-->
      <!--</ng2-password-strength-bar>-->
    </div>
    <div class="full-width field-container">
      <md-icon class="input-icon">security</md-icon>
      <md-input-container class="complete-form-width" floatPlaceholder="always">
        <input mdInput type="password" [placeholder]="'form.passwordRepeat.placeholder' | translate" name="password2"
               [(ngModel)]="passwordConfirmation"
               required minlength="6" pattern="{{createUser.password}}"/>
        <md-error>{{'form.passwordRepeat.error' | translate}}</md-error>
      </md-input-container>
    </div>
    <button md-raised-button color="accent" type="submit" [disabled]="!createAccountForm.form.valid">
      {{'form.actions.createAccount' | translate}}
    </button>
  </form>
  <div *ngIf="created">
    <h3>{{'CREATE-ACCOUNT.accountCreatedText1' | translate}}</h3>
    <p>{{'CREATE-ACCOUNT.accountCreatedText2' | translate}}</p>
  </div>
</div>
