<md-accordion>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>Question 1</md-panel-title>
    </md-expansion-panel-header>
    <p>Answer 1</p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>Question 2</md-panel-title>
    </md-expansion-panel-header>
    <p>Answer 2</p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>Question 3</md-panel-title>
    </md-expansion-panel-header>
    <p>Answer 3</p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>Question 4</md-panel-title>
    </md-expansion-panel-header>
    <p>Answer 4</p>
  </md-expansion-panel>
</md-accordion>
