<div class="buttons-parent">
  <h3 class="header-small-margin">
    {{'CONFIRMATION-INFO.orderProcessed' | translate}}
  </h3>
  <p>
    <b>
      {{'CONFIRMATION-INFO.instructions' | translate}}
    </b>
  </p>


  <div class="check-list">
    <div>
      <md-icon class="check-icon">check</md-icon>
      <div>{{'CONFIRMATION-INFO.instruction1' | translate}}</div>
    </div>
    <div>
      <md-icon class="check-icon">check</md-icon>
      <p>
        {{'CONFIRMATION-INFO.instruction2' | translate}}
      </p>
    </div>
    <div>
      <md-icon class="check-icon">check</md-icon>
      <p>
        {{'CONFIRMATION-INFO.instruction3' | translate}}
      </p>
    </div>
  </div>
  <button md-fab id="orderconfirmation-button" (click)="dialogRef.close('SUCCESS')">
    <md-icon>check</md-icon>
  </button>
</div>
