<div class="buttons-parent">
  <h3 class="header-small-margin">
    Your order has been processed
  </h3>
  <p>
    <b>
      To ensure smooth delivery
    </b>
  </p>


  <div class="check-list">
    <div>
      <md-icon class="check-icon">check</md-icon>
      <div>Do not close the SpotSupply website</div>
    </div>
    <div>
      <md-icon class="check-icon">check</md-icon>
      <p>
        Maintain a stable internet connection
      </p>
    </div>
    <div>
      <md-icon class="check-icon">check</md-icon>
      <p>
        Remain near your current location
      </p>
    </div>
  </div>
  <button md-fab (click)="dialogRef.close('SUCCESS')">
    <md-icon>check</md-icon>
  </button>
</div>
