<div class="buttons-parent">
  <h3 class="header-small-margin">
    Your order has been processed
  </h3>
  <p>
    <b>
      To ensure smooth delivery
    </b>
  </p>


  <div class="check-list">
    <div>
      <md-icon class="check-icon">check</md-icon>
      <div>Stay within the delivery area</div>
    </div>
    <div>
      <md-icon class="check-icon">check</md-icon>
      <p>
        Don't move too far away.
      </p>
    </div>
    <div>
      <md-icon class="check-icon">check</md-icon>
      <p>
        If you move, make sure your location shows correctly on our map.
      </p>
    </div>
  </div>
  <button md-fab (click)="dialogRef.close('SUCCESS')">
    <md-icon>check</md-icon>
  </button>
</div>
