/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.header-small-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.warn-color {
  background-color: #f44336 !important;
  color: #fff !important;
}

.primary-color {
  background-color: #673ab7 !important;
  color: rgba(255,255,255,.87) !important;
}

.accent-color {
  background-color: #ffc107 !important;
  color: rgba(0,0,0,.87) !important;
}

.warn-text {
  color: #f44336;
}

.primary-text {
  color: #673ab7;
}

.accent-text {
  color: #ffc107;
}

.clickable {
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tab-links {
  display: flex;
}
