<div class="text-center">
  <form *ngIf="!success" #resetPasswordForm="ngForm">
    <md-input-container class="full-width" floatPlaceholder="always">
      <input mdInput placeholder="{{'form.email.placeholder' | translate}}" name="email" [(ngModel)]="emailAddress" required email/>
    </md-input-container>
    <button md-raised-button color="primary" class="top-bot-margin-default" (click)="resetPassword()"
            (blur)="errorMessage = undefined" [disabled]="!resetPasswordForm.form.valid">
      {{'form.actions.resetPassword' | translate}}
    </button>
  </form>
  <div *ngIf="success">
    <div>
      {{'LOGIN.resetPasswordMailSent' | translate}}
    </div>
    <button md-raised-button color="accent" class="top-bot-margin-default" (click)="confirm()">
      {{'form.actions.ok' | translate}}
    </button>
  </div>
</div>
