<div class="text-center">
  <form *ngIf="!success" #resetPasswordForm="ngForm">
    <md-input-container class="full-width" floatPlaceholder="always">
      <input mdInput placeholder="Email" name="email" [(ngModel)]="emailAddress" required email/>
    </md-input-container>
    <button md-raised-button color="primary" class="top-bot-margin-default" (click)="resetPassword()"
            (blur)="errorMessage = undefined" [disabled]="!resetPasswordForm.form.valid">
      Reset Password
    </button>
  </form>
  <div *ngIf="success">
    <div>
      We have sent a mail to reset your password if the given email address is linked to an account.
    </div>
    <button md-raised-button color="accent" class="top-bot-margin-default" (click)="confirm()">
      OK
    </button>
  </div>
</div>
