<md-toolbar color="primary" class="md-elevation-z6 toolbar-decoration">
  <div class="btn-sidenav" (click)="menuOpened()">
    <md-icon class="menu-icon">menu</md-icon>
  </div>
  <span class="truncate"><h3>{{'TOOLBAR.title.'+title | translate}}</h3></span>

  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-title-fill-remaining-space"></span>

  <div *ngIf="showCart" class="action-parent">
    <md-icon class="btn-action" (click)="goToCart()">
      shopping_cart
    </md-icon>
    <div *ngIf="productsAmount > 0" class="cart-size">{{productsAmount}}</div>
  </div>
  <button md-button [mdMenuTriggerFor]="menu" class="btn-language">
    <img src="/assets/img/{{selectedLanguage.code}}.jpg"/>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item *ngFor="let language of languages" (click)="languageSelected(language)">
      <md-icon><img src="/assets/img/{{language.code}}.jpg"/></md-icon>
      <span>{{language.name}}</span>
    </button>
  </md-menu>
</md-toolbar>
<div *ngIf="error" class="message-bar warn-color">
  {{error|translate}}
</div>
