<md-toolbar color="primary" class="md-elevation-z6 toolbar-decoration">
  <div id="sidenav-button" class="btn-sidenav" (click)="menuOpened()">
    <md-icon class="menu-icon">menu</md-icon>
  </div>
  <img src="/assets/favicon/favicon-32x32.png" class="title-bar-logo"/>
  <div class="truncate"><h3>{{'TOOLBAR.title.'+title | translate}}</h3></div>

  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-title-fill-remaining-space"></span>

  <div *ngIf="isNotAtBeach | async" class="action-parent">
    <md-icon class="btn-action" (click)="clickNotAtBeach()">
      warning
    </md-icon>
  </div>
  <div *ngIf="showCart" class="action-parent">
    <md-icon class="btn-action" (click)="goToCart()">
      shopping_cart
    </md-icon>
    <div *ngIf="productsAmount > 0" class="cart-size">{{productsAmount}}</div>
  </div>
  <div *ngIf="showOrder" class="action-parent">
    <md-icon class="btn-action" (click)="goToOrder()">
      local_shipping
    </md-icon>
  </div>
</md-toolbar>
<div *ngIf="error" class="message-bar warn-color">
  {{error|translate}}
</div>
