:host {
}

.toolbar-title-fill-remaining-space {
  flex: 1 1 auto;
}

.btn-sidenav {
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-language {
  padding: 0;
  min-width: 50px;
}

.menu-icon {
  height: 30px;
  width: 30px;
  font-size: 30px;
}