:host {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0;
  text-align: center;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

nav {
  height: 100%;
  position: fixed;
  width: 100%;
  background: white;
}

.btn-sidenav-icon {
  line-height: 48px;
}

.btn-sidenav {
  float: left;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
}

.btn-language-icon {
  line-height: 38px;
  width: 30px;
}

.btn-language {
  float: right;
  height: 38px;
  width: 38px;
  padding-left: 10px;
  padding-right: 10px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.menu-language-icon {
  width: 30px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
