<h4 class="header-small-margin order-info-title">Delivery information</h4>
<form *ngIf="cart">
  <md-input-container class="full-width" floatPlaceholder="always">
    <input mdInput [value]="beachName | async | translate" placeholder="Your spot" name="spot" disabled/>
  </md-input-container>
  <md-input-container class="full-width" floatPlaceholder="always">
    <input mdInput [(ngModel)]="orderInfo.phoneNumber" placeholder="Your phone number" name="phoneNumber" disabled/>
  </md-input-container>
  <md-select placeholder="Delivery time" class="full-width mat-input-wrapper" [(ngModel)]="orderInfo.deliveryTime"
             name="deliveryTime">
    <md-option *ngFor="let time of times" [value]="time">
      {{ time }}
    </md-option>
  </md-select>
  <md-select placeholder="Payment method" class="full-width mat-input-wrapper" [(ngModel)]="orderInfo.paymentMethod"
             name="paymentMethod" disabled>
    <md-option *ngFor="let method of paymentMethods" [value]="method">
      {{ method }}
    </md-option>
  </md-select>
</form>
<h4 class="header-small-margin order-info-title">Order information</h4>
<ss-cart [cart]="cart"></ss-cart>
<div class="bring-it-button-parent">
  <button md-raised-button color="primary" class="bring-it-button" (click)="placeOrder()" [disabled]="isNotAtBeach | async">
    Bring it to my spot!
  </button>
</div>
